div, img, span, p, section, article {
  caret-color: transparent;
}
input{
  caret-color: black;
}
/* From Uiverse.io by JaydipPrajapati1910 */ 
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}
/* From Uiverse.io by Jedi-hongbin */ 
.backbutton {
 display: flex;
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
}

.backbutton > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

.backbutton:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

.backbutton:hover {
 transform: translateY(-2px);
}